{% extends 'base.html' %}
{% block content %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>

    <h1>OnlyFunds</h1>

    <h5>NPM: </h5>
    <p>{{ npm }}<p>

    <h5>Name:</h5>
    <p>{{ name }}</p>

    <h5>Class:</h5>
    <p>{{ class }}</p>
    {% if not item_entries %}
        <p>Belum ada data item pada OnlyFunds.</p>
    {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Bank</th>
            </tr>

            {% comment %} Berikut cara memperlihatkan data item di bawah baris ini 
            {% endcomment %} 
            {% for item_entry in item_entries %}
                <tr>
                    <td>{{item_entry.name}}</td>
                    <td>{{item_entry.description}}</td>
                    <td>{{item_entry.price}}</td>
                    <td>{{item_entry.bank}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <br />

    <a href="{% url 'main:create_item_entry' %}">
        <button>Add New Item Entry</button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}